*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*html { font-size: 62.5%; }  !* =10px *!*/
html{
    font-size: 16px;
}
header{
    width: 100vw;
    height:8.5vh;
    background: white;
}

.h_left{
    float: left;

}
.h_left img {
    margin-top:3.61vh;
    margin-left:5.94vw;
    width: 2.5vw;
    height:2.29vh;
}
.h_right{
    float: left;
    margin-left: 24.69vw;
}
.h_mid{
    float: left;
}
.hr_p1{
    /*float: left;*/
    font-size: 2.6rem;
    color: #ccc;
    margin-top: 3.52vh;
    margin-left:33.59vw;
    color:#88d549;
    display: inline-block;
    /*margin-right: 36.7vw;*/
}
.hr_p2{
    float: left;
    border: none;
    background: none;
    font-size: 2.2rem;
    margin-left: -0.69vw;
    margin-top: 3.52vh;
    color:#88d549;
}
.hr_img1{
    float: left;
}
.hr_img2{
    width: 2.66vw;
    height: 1.76vh;
    float: right;
    margin-top: 4vh;
    margin-right: 0.88vw;
}
.hm_div1{
    width:0.13vw;
    height: 0.44vh;
    background: black;
}
.hm_div2{
    width:68.76vw;
    height: 0.1vh;
    background: black;
    float: left;
}
.hm_div3{
    width:0.13vw;
    height: 0.44vh;
    background: black;
    float: right;
    margin-top: -0.44vh;
}
section{
    height: 91.5vh;
    width: 100vw;
    background: #eff2ec;
    border-top:0.088vh solid #eff2ec ;
}

.sec_con{
    width: 97.5vw;
    height: 21.92vh;
    background: white;
    border-radius: 2vw;
    margin-top: 1.14vh;
    margin-left: 1.25vw;
}
.scon_default{
    height: 6.87vh;
    width:97.5vw;
    border-bottom: 0.088vh solid #eff2ec;
}
.sdefault_left{
    float: left;
}
.sleft_p1{
    width: 1.72vw;
    height: 0.26vh;
    background: #666;
    float: left;
    margin-top: 3.08vh;
    margin-left: 7.03vw;
}
.sleft_p2{
    font-size: 2.4rem;
    color: #666;
    float: left;
    margin-left: 1.875vw;
    margin-top:1.8vh;
}
.sdefault_right{
    float: right;
    margin-top: 2.46vh;
}
.sdefault_right p{
    float: right;
    font-size: 2.4rem;
    color: #999;
}
.sdefault_right img{
    float: right;
    width: 5.94vw;
    height: 2.64vh;
}
.sec_add{
    height: 14.96vh;
    width: 97.5vw;
}
.sadd_top{
    height: 2.51vh;
    width: 83.44vw;
    margin-top: 3.26vh;
    margin-left: 5.31vw;
}
.sadd_top p{
    font-size: 2.4rem;
    color: #999;
    float: left;
}
.sadd_bottom{
    width: 65.78vw;
    height: 2.51vh;
    margin-left: 3.84vw;
    margin-top: 3.52vh;
}
.sadd_bottom p{
    font-size: 2.4rem;
    color: #999;
    float: left;
}
