*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*html { font-size: 62.5%; }  !* =10px *!*/
html{
    font-size: 16px;
}
header{
    width: 100vw;
    height:8.5vh;
    background: white;
}

.h_left{
    float: left;
    width:15.62vw ;
    height:8.8vh ;
}
.h_left img {
    margin-top:3.61vh;
    margin-left:5.94vw;
    width: 2.5vw;
    height:2.29vh;
}
.h_right{
    float: left;
    width:15.62vw ;
    height:8.8vh ;
}
.h_mid{
    float: left;
    width:65vw;
    height: 7.3vh;
}
.hr_p1{
    /*float: left;*/
    font-size: 2.6rem;
    color: #ccc;
    margin-top: 3.52vh;
    margin-left: 25.3vw;
    color:#88d549;
    display: inline-block;
    /*margin-right: 36.7vw;*/
}
.hr_p2{
    float: left;
    border: none;
    background: none;
    font-size: 2.2rem;
    margin-left: -0.69vw;
    margin-top: 3.52vh;
    color:#afafaf;
}
.hr_img1{
    float: left;
}
.hr_img2{
    width: 2.66vw;
    height: 1.76vh;
    float: right;
    margin-top: 4vh;
    margin-right: 0.88vw;
}
.hm_div1{
    width:0.13vw;
    height: 0.44vh;
    background: black;
}
.hm_div2{
    width:68.76vw;
    height: 0.1vh;
    background: black;
    float: left;
}
.hm_div3 {
    width: 0.13vw;
    height: 0.44vh;
    background: black;
    float: right;
    margin-top: -0.44vh;

}
section{
    height: 91.46vh;
    width: 100vw;
    background: #eff2ec;
    overflow: hidden;
}
.sec_message{
    width: 85.31vw;
    height: 39.7vh;
    margin-left: 7.34vw;
    margin-top: 4.23vh;
    overflow: hidden;
    background: white;
    border-radius: 2vw;
}

.smess_number{
    height: 3.79vh;
    width: 72.03vw;
    margin-left: 5.94vw;
    margin-top: 4.58vh;
}
.smess_number img{
    height: 2.64vh;
    width: 4.69vw;
    float: left;

}
.snum_number{
    width: 65.63vw;
    height: 3.79vh;
    border-bottom:0.088vh solid #ccc;
    float: left;
    margin-left:1.63vw;

}
.snum_number input{
    border: none;
    text-indent: 2rem;
    font-size: 2.2rem;
    width: 65.63vw;
    height: 3.79vh;
}
.snum_number input::-webkit-input-placeholder{
    color: #adadad;
}
.snum_cap{
    float: right;
    font-size: 2.2rem;
    color: #666;
    position: absolute;
    left:67.03vw;
    top: 26.18vh;
}
.smess_agreement{
    height: 3.79vh;
    width: 72.03vw;
    margin-left: 5.94vw;
    margin-top: 4.58vh;
}
.sagree_div{
    height: 2.64vh;
    width: 4.69vw;
    border-radius:50%;
    border: 0.088vh solid #ccc;
    float: left;
}
.smess_agreement img{
    height: 2.64vh;
    width: 4.69vw;
    float: left;
    display: none;
}
.sagree_con
{
    margin-left:9.06vw;
}
.sagree_con p{
    font-size: 2.2rem;
}
.sagree_con p a{
    color:#88d549;
}
.submit input{
    height:6.16vh;
    background:  #88d549;
    width:85.31vw;
    border-radius:1vw;
    margin-left:7.19vw;
    margin-top:13.47vh;
    text-align: center;
    line-height: 5.46vh;
    font-size: 3rem;
    color: white;
    border: none;
}