*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*html { font-size: 62.5%; }  !* =10px *!*/
html{
    font-size: 16px;
}
header{
    width: 100vw;
    height:8.54vh;
    background: white;
    /*border-bottom: 0.09vh solid #eff2ec;*/
}
.header_nav{
    height: 8.54vh;
    width: 100vw;
}
.h_left{
    float: left;
}
.h_left img {
    margin-top:3.61vh;
    margin-left:5.94vw;
    width: 2.5vw;
    height:2.29vh;
}
.h_right{
    float: right;
    width:15.62vw ;
    height:8.8vh ;
}
.h_mid{
    float: left;
    width:65vw;
    height: 7.3vh;
}
.hr_p1{
    /*float: left;*/
    font-size: 2.6rem;
    color: #ccc;
    margin-top: 3.52vh;
    margin-left: 25.3vw;
    color:#88d549;
    display: inline-block;
    /*margin-right: 36.7vw;*/
}

.h_right img{
    width: 4.69vw;
    height: 2.64vh;
    float: right;
    margin-right: 6.72vw;
    margin-top: 3.61vh;
}
.hr_img1{

    float: left;
}
.hr_img2{
    width: 2.66vw;
    height: 1.76vh;
    float: right;
    margin-top: 4vh;
    margin-right: 0.88vw;
}
.hm_div1{
    width:0.13vw;
    height: 0.44vh;
    background: black;
}
.hm_div2{
    width:68.76vw;
    height: 0.1vh;
    background: black;
    float: left;
}
.hm_div3 {
    width: 0.13vw;
    height: 0.44vh;
    background: black;
    float: right;
    margin-top: -0.44vh;

}


section{
    height: 82.83vh;
    width: 100vw;
    background:#eff2ec;
    border-top: 0.09vh solid #eff2ec;
}
.sec_con{
    height: 13.56vh;
    width: 100vw;
    background: white;
    margin-top: 0.09vh;
    position: relative;
}
.scon_left{
    float: left;
    margin-top:2.02vh;
    margin-left:1.84vw;
}
.sleft_img1{
    height: 2.99vh;
    width: 5.31vw;
    margin-bottom: 3.26vh;
}
.sleft_img2{
    height: 9.07vh;
    width: 16.1vw;
    margin-left: 1.25vw;
}
.scon_right{
    float: right;
    margin-top: 3.43vh;

}
.sright_p{
    font-size: 2rem;
    letter-spacing:-0.1vw;
    margin-right: 2.19vw;
    color: #666666;
}
.sright_num p{
    float: left;
    margin-top: 1.5vh;
}
.sright_p1{
    color:#88d549;
    height: 4.67vh;
    line-height: 4.67vh;
    font-size:3rem;
}
.sright_p2{
    color:#88d549;
    width: 15.78vw;
    height: 4.67vh;
    border: 0.088vh solid #ccc;
    text-align: center;
    line-height: 4.67vh;
    font-size: 1.8rem;
    margin-left: 3.28vw;

}
.sright_p3{
    color:#88d549;
    height: 4.67vh;
    line-height: 4.67vh;
    font-size:3rem;
    margin-left: 3.28vw;
}
.sright_p4{
color: #f54d32;
    margin-top: 2vh;
    font-size: 1.8rem;
    margin-right: 2.5vw;
}

.footer{
    width: 100vw;
    height: 8.54vh;
    border-top:0.09vh solid #88d549;
    position: relative;

}
.footer_left{
    float: left;
    margin-top: 3.35vh;
    margin-left: 5.94vw;
}
.footer_left p{
    font-size: 1.8rem;
    color: #666666;
}
.footer_right{
    float: right;
    width: 36.41vw;
    height: 5.46vh;
    background: #f54d32;
    margin-right: 9.22vw;
    border-radius: 2vw;
    margin-top: 1.32vh;
}
.footer_right img{
    width: 4.6875vw;
    height: 1.76vh;
    float: left;
    margin-left: 4.69vw;
    margin-top: 0.97vh;
}
.fright_p1{
    font-size: 1.6rem;
    color: white;
    margin-top: 3vh;
    float: left;
    margin-left: -7vw;
}
.fright_p2{
    float: right;
    font-size: 3rem;
    color: white;
    margin-right: 4.53vw;
    margin-top:0.63vh;
}